html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 50px;
    color: skyblue;
    text-align: center;
}

.tabs-container {
    display: flex;
    justify-content: space-between;
}

.tabs-img {
    max-width: 550px;
    width: 100%;
    margin-right: 20px;
}

.tabs-img img {
    width: inherit;
}

.tabs {
    max-width: 60%;
    width: 100%;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.btn-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    all: unset;
    width: 33.33%;
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    background-color: #1ff;
    transition: all 0.3s;
}

.btn.active {
    background-color: #fff;
    border: 1px solid #1ff;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #1ff;
}

.content-title {
    text-align: center;
    font-size: 26px;
}
