html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    height: 80px;
    align-items: center;
    position: relative;
    background-color: #ffa;
    z-index: 5;
}

.header__item span {
    font-size: 28px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu__link {
    color: #000;
    text-decoration: none;
    font-size: 26px;
    padding: 5px 20px;
}

.burger__menu {
    width: 35px;
    height: 5px;
    background-color: skyblue;
    position: relative;
    display: none;
    transition: all 1s;
}

.burger__menu:hover {
    transform: rotate(90deg);
}

.burger__menu::after,
.burger__menu::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 5px;
    background-color: skyblue;
}

.burger__menu::after {
    top: 10px;
}

.burger__menu::before {
    top: -10px;
}

@media (max-width: 950px) {
    .burger__menu {
        display: block;
    }
    .header__item-contact {
        display: none;
    }
    .menu {
        position: absolute;
        left: 0;
        height: 0;
        top: 80px;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        align-items: center;
        transition: all 0.5s;
    }

    .menu.active {
        top: 80px;
        height: 285px;
        z-index: 0;
    }

    .menu li {
        width: 100%;
        text-align: center;
        padding: 20px 20px;
    }

    .menu li + li {
        border-top: 1px solid #000;
    }
}
